.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: rgb(91, 179, 167);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row {
  padding: 1rem;
}

table {
  width: 100%;
}

.jumbotron {
  margin: 2rem;
}

.linkbtn {
  margin-left: 1rem;
}

ul {
  list-style-type: none;
}

#taskItem {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3rem;
}

#taskOutput {
  display: flex;
  margin: 5rem;
}